include basic.pug
body(ng-app="modSiteApp" ng-controller="ordersController")
	div.container
		h2 API Orders
		table.table.table-striped
			tr
				//- th ID
				th API Name
				th Status
				th &nbsp;
				//- th &nbsp;
				th &nbsp;
			each order in orders
				tr
					//- td #{order._id}
					td #{order.APIName}
					td #{order.statusText}
					td
						- url = order.downloadLatest
						- fileName = order.fileName
						a.btn.btn-success(href=url,download=fileName) Download
					//- if order.forceNext
					//- 	td
					//- 		- url = order.forceNext
					//- 		a.btn.btn-success(href=url) Execute next phase
					//- else
					//- td &nbsp;
					td
						- url = `/order/${order._id}`
						a.btn.btn-info(href=url) More info
